@import '../../styles/colors.scss';

.project.in_progress {
    border-left: 5px solid $in_progress ;

} 
.project.complete {
    border-left: 5px solid $complete;

} 
.project.not_started {
    border-left: 5px solid $not_started;

} 
.project.pending {
    border-left: 5px solid $panding;

} 
.project.failure {
    border-left: 5px solid $failure;

} 

.v-chip.failure {
    background-color: $failure;
    font-weight: bold;
    box-shadow:5px 6px 9px 2px rgba(54, 54, 58, 0.2)
}
.v-chip.in_progress {
    background-color: $in_progress ;
    font-weight: bold;
    box-shadow:5px 6px 9px 2px rgba(54, 54, 58, 0.2)
} 
.v-chip.complete {
    background-color: $complete;
    font-weight: bold;
    box-shadow:5px 6px 9px 2px rgba(54, 54, 58, 0.2)
} 
.v-chip.not_started {
    font-weight: bold;
    background-color: $not_started;
    box-shadow:5px 6px 9px 2px rgba(54, 54, 58, 0.2)
} 
.v-chip.pending {
    font-weight: bold;
    background-color: $panding;
    box-shadow:5px 6px 9px 2px rgba(54, 54, 58, 0.2)
} 

